{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col d-none d-xl-block">
            </div>
            <div class="col py-auto">
                <h1 class="pb-3">Change Your Password</h1>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-floating mb-4">
                        {{ form.current_password(class="form-control", type="password", placeholder="Password") }}
                        {{ form.current_password.label(class="form-label") }}
                        {% for error in form.current_password.errors %}
                            <div id="currentPasswordError" class="form-text text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-floating mb-4">
                        {{ form.password(class="form-control", type="password", placeholder="Password") }}
                        {{ form.password.label(class="form-label") }}
                        {% for error in form.password.errors %}
                            <div id="passwordError" class="form-text text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-floating mb-4">
                        {{ form.password_check(class="form-control", type="password", placeholder="Password") }}
                        {{ form.password_check.label(class="form-label") }}
                        {% for error in form.password_check.errors %}
                            <div id="passwordCheckError" class="form-text text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="d-grid mx-auto">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
            <div class="col d-none d-xl-block">
            </div>
        </div>
    </div>
{% endblock %}