{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col d-none d-xl-block">
            </div>
            <div class="col py-auto">
                <h1 class="pb-3">Forgot Password</h1>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-floating mb-4">
                        {{ form.value(class="form-control", type="text", placeholder="Authentication Token") }}
                        {{ form.value.label(class="form-label") }}
                        {% for error in form.value.errors %}
                            <div id="valueError" class="form-text text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="d-grid mx-auto">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
                <hr>
                <p><a href="{{ url_for('web.forgot_password', user_id=user.id, resend=True) }}">Resend Email</a><br>
            </div>
            <div class="col d-none d-xl-block">
            </div>
        </div>
    </div>
{% endblock %}