<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Manage Patients</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form hx-post="{{ url_for('web.manage_patients') }}" hx-target="#patientModalReplace"
              hx-swap="innerHTML">
            {{ form.hidden_tag() }}

            <div class="mb-4" id="userList">
                {{ form.patients.label(class="form-label") }}
                <div class="col-12 mb-2">
                    <input class="form-control" id="userFilter" type="text"
                           placeholder="Search by username, email, or name...">
                </div>
                {% for option in form.patients %}
                    <div class="form-check">
                        {{ option(class="form-check-input", type="checkbox") }}
                        {{ option.label(class="form-check-label") }}
                    </div>
                {% endfor %}
                {% for error in form.patients.errors %}
                    <div id="patientsError" class="form-text text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="d-grid mx-auto">
                {{ form.submit(class="btn btn-primary") }}
                <span class="spinner-border spinner-border-sm htmx-indicator" role="status"
                      aria-hidden="true"></span>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#userFilter").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#userList > .form-check").filter(function () {
                var $label = $(this).find('.form-check-label');
                var found = $label.text().toLowerCase().indexOf(value) > -1;
                $(this).toggle(found);
            });
        });
    });
</script>
